@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Open Sans", sans-serif;
    /* Equivalent to font-opensans */
}
html {
    scroll-behavior: smooth;
  }

 
@media screen and (min-width: 310px) and (max-width: 370px) {
    .scroll-topdown {
        margin-top: 940px !important; /* This should push the content down */
    }
}



