@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Barlow", sans-serif;
}
html {
    scroll-behavior: smooth;
  }

  .wrapper {
    position: relative;
    width: 100vw;
    padding: 24px;
    padding-bottom: calc(20vh - 24px);
  }
  
  .section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 48px);
    margin: 0 auto;
    height: 80vh;
    border-radius: 24px;
    font-size: 60px;
    background-color: teal;
    color: white;
  }
  
  #section1 {
    background-color: teal;
    z-index: 0;
  }
  
  #section2 {
    background-color: gold;
    z-index: 1;
  }
  #section3 {
    background-color: tomato;
    z-index: 2;
  }
  #section4 {
    background-color: aquamarine;
    z-index: 3;
  }
  #section5 {
    background-color: cornflowerblue;
    z-index: 4;
  }
  #section6 {
    background-color: forestgreen;
    z-index: 5;
  }
  .fixed {
    position: fixed;
  }

@media screen and (min-width: 310px) and (max-width: 370px) {
    .scroll-topdown {
        margin-top: 940px !important; /* This should push the content down */
    }
}



